header {
    display: flex;
    padding: 10px 10px;
    background-color: white;
    border-bottom: 4px;
    align-items: center;
}

header::after {
    content: "";
    flex: 1;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #efefef;

}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}


.nav-links a.active {
    text-decoration: none;
    color: black;
    border-bottom: 4px solid red;
    font-weight: bold;
}

.nav-links a:hover {
    border-bottom: 4px solid red;
    padding-bottom: 5px;
    transition: 0.2s;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.hero {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0 80px 0;
    position: relative;
    border-bottom: 4px solid black;
}



.hero h2 {
    color: white;
    font-size: 100px;
    margin: 0;
    text-shadow: 4px 4px 10px black;
}

.search-container {
    background-color: white;
    border: 4px solid black;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 60%;
    max-width: 500px;
    position: absolute;
    bottom: -30px;
}


.filter-section {
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    border: 4px solid rgb(159, 159, 159);
    border-radius: 40px;
    display: flex;
    padding: 10px 20px;
    margin: 40px auto 0 auto; 
    width: 30%;
    max-width: 500px;
    justify-content: center;
}
.search-container input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #313131;
    font-size: 30px;
    width: 100%;
}

.pokemon-grid {
    display: grid; 
    grid-template-columns: repeat(6, 1fr);    
    gap: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    
}

.pokemon-info {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.pkmn-details {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

a:hover {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.15);
    transition: transform 0.2s;
}

.buscador {
    display: flex;
    margin-top: 2%;
    gap: 20px;
    font-size: 20px;
    margin-left: 2%;
}

.botones {
    border: 2px solid black;
    border-radius: 9999px;
    padding: 4px 12px;
    width: 8%;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}



.nuevo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    font-family: Arial, sans-serif;
}

.new-pokemon {
    background-color: red;
    color: rgb(255, 255, 255);
    border-radius: 9999px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: 2%;
}


.pkmn-id {
    background-color: beige;
    display: flex;
    margin-right: auto;
    height: 200px;
}

.perfil-pkmn {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    background-color: aqua;
}

.ablt-pkmn {
    display: flex;
    flex-direction: column;
        margin-left: 5%;
        background-color: aquamarine;

}
.mvnt-pkmn {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    align-items: center;
        margin-left: 5%;
        background-color: beige;
}

.evo-pkmn {
    display: flex;
    flex-direction: column;
        margin-left: 5%;

}

.stats-pkmn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
}

.stat-label {
    width: 100px;
    font-weight: bold;
    text-transform: capitalize;
}

.stat-row {
    display: grid;
    grid-template-columns: 100px 1fr 40px;
    align-items: center;
    gap: 10px;
}

.stat-bar-bg {
    background-color:  red;
    border-radius: 10px;
    flex-grow: 1;
    height: 15px;
    margin: 0 10px;
    overflow: hidden;
}

.stat-bg {
    background-color: #000000;
    height: 12px;
    border-radius: 6px;
    width: 100%;
    position: relative;
}

.stat-fill {
    height: 100%;
    background-color: #ff4136;
    border-radius: 6px;
    width: 0%;
    transition: width 1.5s;
}

.stat-number {
    font-family: monospace;
    font-weight: bold;
    text-align: right;
}

select {
    appearance: none; 
    -webkit-appearance: none;
    padding: 10px;
    border-radius: 5px;
}
.normal {
    background-color: gray;
    color: white;
}
.fighting {
    background-color: brown;
}
.flying {
    background-color: skyblue
}
.poison {
    background-color: purple;
}
.ground {
    background-color: rgb(193, 101, 3);
}
.rock {
    background-color: brown;
}
.bug {
    background-color: green;
}
.ghost {
    background-color: pink;
}
.steel {
    background-color: silver;
}
.fire {
    background-color: red;
}
.water {
    background-color: blue;
}
.grass {
    background-color: green;
}
.electric {
    background-color: yellow;
}
.psychic {
    background-color: pink;
}
.ice {
    background-color: aqua;
}
.dragon {
    background-color: blue;
}
.dark {
    background-color: black;
}
.fairy {
    background-color: pink;
}